// @use '@carbon/react'with ( //   $font-path: '@ibm/plex'
// );
@use '@carbon/styles/scss/config' with ($prefix: 'cds',
    $font-path: '@ibm/plex'
);

// Include prerequisite modules typically provided through the main entrypoint
@use '@carbon/styles/scss/reset';
@use '@carbon/styles/scss/grid';
@use '@carbon/styles/scss/layer';
@use '@carbon/styles/scss/themes';
@use '@carbon/styles/scss/theme';

// Optionally include components that you need
@use '@carbon/styles/scss/components/button';
@use '@carbon/styles/scss/components/text-input';
@use '@carbon/styles/scss/components/form';
@use '@carbon/styles/scss/components/tabs';
@use '@carbon/styles/scss/components/stack';
@use '@carbon/styles/scss/components/modal';
@use '@carbon/styles/scss/components/notification';
@use '@carbon/styles/scss/components/breadcrumb';
@use '@carbon/styles/scss/components/ui-shell';
@use '@carbon/styles/scss/components/tile';
@use '@carbon/styles/scss/components/treeview';
@use '@carbon/styles/scss/components/data-table';
@use '@carbon/styles/scss/components/data-table/sort';
@use '@carbon/styles/scss/components/accordion';
@use '@carbon/styles/scss/components/select';
@use '@carbon/styles/scss/components/dropdown';
@use '@carbon/styles/scss/components/search';
@use '@carbon/styles/scss/components/pagination';
@use '@carbon/styles/scss/components/number-input';
@use '@carbon/styles/scss/components/loading';

:root {
    --cds-helper-text-01-letter-spacing: 0;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    button {
        @apply focus:outline-none;
    }

    a {
        @apply outline-none;
    }
}

html,
body {
    @apply bg-white dark:bg-gray-950;

    @media (prefers-color-scheme: dark) {
        color-scheme: dark;
    }
}


.react-autocomplete-input>li.active {
    background-color: #337ab7;
    color: #fff;
}